@model MiddleEducationPlan.BusinessLogic.Models.Project.AddProjectModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h1>Create</h1>

<h4>Project</h4>
<hr />

<div class="row">
    <table class="table">
        <thead>
        </thead>
        <tbody>
            <tr>
                <td>
                    <lable class="col-form-label">Name</lable>
                </td>
                <td>
                    <input type="text" id="projectName" class="form-control" />
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <button style="width:100%" class="btn btn-primary" onclick="CreateProject()">Send</button>
                </td>
            </tr>
        </tbody>
    </table>
    @*<form action="/ProjectView/CreatePost" method="post" id="createProjectForm">
            <input class="btn-primary" type="submit" value="Send" />
        </form>*@
</div>

<div>
    @Html.ActionLink("Back to list", "Index", new { /* id=item.PrimaryKey */ })
</div>

<script>
    $(document).ready(function () {
        console.log("ready!");
    });

    function CreateProject() {
        let name = $("#projectName").val();

        let project = {};
        project.Name = name;

        $.post("CreatePost", project, (result) => {
            if (result.status === 0) {
                window.alert("success");
                ClearForm();
            }
            else {
                window.alert(result.errorMessage);
            }
        })
    }

    function ClearForm() {
        $("#projectName").val("");
    }
</script>
