@model MiddleEducationPlan.BusinessLogic.Models.Project.AddProjectModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h1>Create Project</h1>

<p>
    @Html.ActionLink("Back to list", "Index", new { /* id=item.PrimaryKey */ })
</p>

<div id="projectFormContainer" class="row">
    <form id="projectForm" style="width:100%">
        <table class="table">
            <thead>
            </thead>
            <tbody>
                @await Html.PartialAsync("~/Views/ProjectView/CreateUpdateTemplate.cshtml")
                <tr>
                    <td>
                        <button type="button" style="width:100%" class="btn btn-secondary" onclick="clearForm()">Clear</button>
                    </td>
                    <td>
                        <button type="button" style="width:100%" class="btn btn-primary" onclick="createProject()">Send</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</div>




<script src="~/ProjectView.js"></script>
