@model MiddleEducationPlan.BusinessLogic.Models.Project.AddProjectModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Project</h4>
<hr />

<div class="row">
    <form action="/ProjectView/CreatePost" method="post">
        <table class="table">
            <thead>
            </thead>
            <tbody>
                <tr>
                    <td>
                        Name
                    </td>
                    <td>
                        <input type="text" name="Name" />
                    </td>
                </tr>
            </tbody>
        </table>
        <input class="btn" type="submit" value="Send" />
    </form>
</div>

<div>
    @Html.ActionLink("Back to list", "Index", new { /* id=item.PrimaryKey */ })
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}