

<tr>
    <td>
        <lable class="col-form-label">Name&nbsp;<span class="red-star">*</span></lable>
    </td>
    <td>
        <input type="text" id="projectName" class="height30 form-control" required />
    </td>
</tr>
<tr>
    <td>
        <lable class="col-form-label">Description</lable>
    </td>
    <td>
        <textarea id="projectDescription" class="height30 form-control"></textarea>
    </td>
</tr>
<tr>
    <td>
        <lable class="col-form-label">Project Type&nbsp;<span class="red-star">*</span></lable>
    </td>
    <td>
        <div class="with-select">
            <select id="projectType" data-placeholder="Choose a project type..." class="chosen-select" required>
                <option value="">N/A</option>
            </select>
        </div>
    </td>
</tr>