@model MiddleEducationPlan.BusinessLogic.Models.Project.AddProjectModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h1>Create Project</h1>

<div class="row">
    <table class="table">
        <thead>
        </thead>
        <tbody>
            <tr>
                <td>
                    <lable class="col-form-label">Name</lable>
                </td>
                <td>
                    <input type="text" id="projectName" class="form-control" />
                </td>
            </tr>
            <tr>
                <td>
                    <lable class="col-form-label">Description</lable>
                </td>
                <td>
                    <input type="text" id="projectDescription" class="form-control" />
                </td>
            </tr>
            <tr>
                <td>
                    <lable class="col-form-label">Project Type</lable>
                </td>
                <td>
                    <select id="projectType" data-placeholder="Choose a project type..." class="form-control chosen-select">
                        <option value="-1">N/A</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <button style="width:100%" class="btn btn-primary" onclick="CreateProject()">Send</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div>
    @Html.ActionLink("Back to list", "Index", new { /* id=item.PrimaryKey */ })
</div>

<div style="display:none" id="dialog" title="">
    <p id="dialogBody"></p>
</div>

<script src="~/ProjectView.js"></script>
