@model MiddleEducationPlan.BusinessLogic.Models.Project.UpdateProjectModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h1>Update Project</h1>

<p>
    @Html.ActionLink("Back to list", "Index", new { /* id=item.PrimaryKey */ })
</p>

@Html.Hidden("hiddenProjectId", Model.Id)

<div id="projectFormContainer" class="row">
    <form id="projectForm" style="width:100%">
        <table class="table">
            <thead>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <lable class="col-form-label">Id</lable>
                    </td>
                    <td>
                        <input type="text" id="projectId" class="height30 form-control" disabled/>
                    </td>
                </tr>
                @await Html.PartialAsync("~/Views/ProjectView/CreateUpdateTemplate.cshtml")
            <tr>
                <td id="projectEditCell">
                    <button id="projectEditButton" type="button" style="width:100%" class="btn btn-secondary" onclick="editProject()">Edit</button>
                </td>
                <td id="projectCancelCell" style="display:none">
                    <button id="projectCancelButton" type="button" style="width:100%" class="btn btn-secondary" onclick="cancel()">Cancel</button>
                </td>
                <td>
                    <button id="projectSendButton" type="button" style="width:100%" class="btn btn-primary" onclick="updateProject()">Send</button>
                </td>
            </tr>
            </tbody>
        </table>
    </form>
</div>

<script src="~/Project/UpdateProject.js"></script>
<script src="~/Project/Common.js"></script>
